---
- name: create loadbalancer setup
  hosts: webservers
  vars_files:
    files/winrm_vars
    
  pre_tasks:
  - name: create empty list for collection of backend servers
    set_fact:
      backend_server_list: []

  - name: populate loadbalancer list of dictionaries
    set_fact:
        backend_server_list: "{{ backend_server_list + [ {'name': item, 'address': hostvars[item]['ansible_ssh_host'] + ':80'}] }}"
    loop: "{{ groups['webservers'] }}"
      
  - name: show server_list
    debug:
      var: backend_server_list

  tasks:
  - name: show server_list
    debug:
      var: backend_server_list
  
